#nav{
background-color: #ffeee6;
padding: 16px 30px ;
box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.38);
}

#name{
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    ;
}
#subscribe{
    background-color: transparent;
    border: 1px solid #6b5c55    ;
    padding: 11px 32px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;

}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between ;

}

li{
    font-size: 18px;
}

.rounded{
    border-radius: 361px;
}
#profile{
    box-sizing: content-box;
    border: 37px solid rgba(11, 34, 167, 0.1);
}
#banner{
    box-sizing: content-box;
    border: 10px solid #ffeee6;
    position: absolute;
    top: 10px;
    left: 280px;
}
<!--

-->